langchain_openai
langchain_core
langchain_community
streamlit
python-dotenv
langserve
fastapi
uvicorn
bs4
pypdf
langchain_text_splitters
chromadb
faiss-cpu
Wikipedia
arxiv
langchain
arxiv
langchainhub
Ollama
gradio
beautifulsoup4
langchain
